* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 
}
.calc {
    width: 500px;
    margin: auto;
}
.button {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
input {
    width: 100%;
    height: 50px;
    margin: 25px 0;
    font-size: 30px;
}